In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('bert_scores.csv')
print(len(df))
df.head

2024

<bound method NDFrame.head of       Unnamed: 0        Date  bert_scores          Open          High  \
0              0  2021-04-16     0.166667  14599.599609  14697.700195
1              1  2021-04-15     0.250000  14522.400391  14597.549805
2              2  2021-04-13     0.222222  14364.900391  14528.900391
3              3  2021-04-12    -0.083333  14644.650391  14652.500000
4              4  2021-04-09     0.142857  14882.650391  14918.450195
...          ...         ...          ...           ...           ...
2019        2019  2012-08-13    -0.142857   5316.350098   5352.450195
2020        2020  2012-08-10    -0.428571   5308.200195   5330.100098
2021        2021  2012-08-09     0.000000   5348.299805   5368.200195
2022        2022  2012-08-08     0.333333   5345.250000   5377.600098
2023        2023  2012-08-07     0.500000   5295.399902   5350.100098

               Low         Close     Adj Close    Volume
0     14559.000000  14621.750000  14621.750000       0.0
1     14353.200195  14581.450195  14581.450195  568000.0
2     14274.900391  14504.799805  14504.799805  605100.0
3     14248.700195  14310.799805  14310.799805  650200.0
4     14785.650391  14834.849609  14834.849609  504100.0
...            ...           ...           ...       ...
2019   5309.049805   5347.899902   5347.899902       0.0
2020   5294.100098   5320.399902   5320.399902       0.0
2021   5312.100098   5322.950195   5322.950195       0.0
2022   5331.049805   5338.000000   5338.000000       0.0
2023   5281.649902   5336.700195   5336.700195       0.0

[2024 rows x 9 columns]>

In [4]:
#original scores
scores_1 = []
#print(scores_1)
for i in df['bert_scores']:
    scores_1.append(i)
print(scores_1[0:5])
print(len(scores_1))

[0.16666666666666666, 0.25, 0.2222222222222222, -0.08333333333333333, 0.14285714285714285]
2024

In [6]:
scores_2 = [0.166666666]
for i in range(1,len(scores_1)):
    scores_2.append((scores_1[i]+scores_1[i-1])/2)
print(scores_2[0:5])
print(len(scores_2))

[0.166666666, 0.20833333333333331, 0.2361111111111111, 0.06944444444444445, 0.02976190476190476]
2024

In [7]:
#adding column
df['windowSize_2'] = scores_2
df.head

<bound method NDFrame.head of       Unnamed: 0        Date  bert_scores          Open          High  \
0              0  2021-04-16     0.166667  14599.599609  14697.700195
1              1  2021-04-15     0.250000  14522.400391  14597.549805
2              2  2021-04-13     0.222222  14364.900391  14528.900391
3              3  2021-04-12    -0.083333  14644.650391  14652.500000
4              4  2021-04-09     0.142857  14882.650391  14918.450195
...          ...         ...          ...           ...           ...
2019        2019  2012-08-13    -0.142857   5316.350098   5352.450195
2020        2020  2012-08-10    -0.428571   5308.200195   5330.100098
2021        2021  2012-08-09     0.000000   5348.299805   5368.200195
2022        2022  2012-08-08     0.333333   5345.250000   5377.600098
2023        2023  2012-08-07     0.500000   5295.399902   5350.100098

               Low         Close     Adj Close    Volume  windowSize_2
0     14559.000000  14621.750000  14621.750000       0.0      0.166667
1     14353.200195  14581.450195  14581.450195  568000.0      0.208333
2     14274.900391  14504.799805  14504.799805  605100.0      0.236111
3     14248.700195  14310.799805  14310.799805  650200.0      0.069444
4     14785.650391  14834.849609  14834.849609  504100.0      0.029762
...            ...           ...           ...       ...           ...
2019   5309.049805   5347.899902   5347.899902       0.0     -0.008929
2020   5294.100098   5320.399902   5320.399902       0.0     -0.285714
2021   5312.100098   5322.950195   5322.950195       0.0     -0.214286
2022   5331.049805   5338.000000   5338.000000       0.0      0.166667
2023   5281.649902   5336.700195   5336.700195       0.0      0.416667

[2024 rows x 10 columns]>

In [8]:
scores_3 = [0.16666,0.25000]
for i in range(2,len(scores_1)):
    scores_3.append((scores_1[i]+scores_1[i-1]+scores_1[i-2])/3)
print(scores_3[0:5])
print(len(scores_3))

[0.16666, 0.25, 0.21296296296296294, 0.12962962962962962, 0.09391534391534391]
2024

In [10]:
#adding window of 3 days prior
df['windowSize_3'] = scores_3
df.head(8)

,Unnamed: 0,Date,bert_scores,Open,High,Low,Close,Adj Close,Volume,windowSize_2,windowSize_3
0,0,2021-04-16,0.166667,14599.599609,14697.700195,14559.000000,14621.750000,14621.750000,0.0,0.166667,0.166660
1,1,2021-04-15,0.250000,14522.400391,14597.549805,14353.200195,14581.450195,14581.450195,568000.0,0.208333,0.250000
2,2,2021-04-13,0.222222,14364.900391,14528.900391,14274.900391,14504.799805,14504.799805,605100.0,0.236111,0.212963
3,3,2021-04-12,-0.083333,14644.650391,14652.500000,14248.700195,14310.799805,14310.799805,650200.0,0.069444,0.129630
4,4,2021-04-09,0.142857,14882.650391,14918.450195,14785.650391,14834.849609,14834.849609,504100.0,0.029762,0.093915
5,5,2021-04-08,0.285714,14875.650391,14984.150391,14821.099609,14873.799805,14873.799805,514800.0,0.214286,0.115079
6,6,2021-04-07,0.250000,14716.450195,14879.799805,14649.849609,14819.049805,14819.049805,0.0,0.267857,0.226190
7,7,2021-04-06,0.333333,14737.000000,14779.099609,14573.900391,14683.500000,14683.500000,475300.0,0.291667,0.289683

In [11]:
df.to_csv('Bert_9year_2-3_windowsize.csv')

In [12]:
scores_week1 = scores_1[0:6] 
for i in range(6,len(scores_1)):
    avg = 0
    for j in range(7):
        avg+=scores_1[i-j]
    scores_week1.append(avg/7)
print(scores_week1[0:8])
print(len(scores_week1))
df['week_1'] = scores_week1

[0.16666666666666666, 0.25, 0.2222222222222222, -0.08333333333333333, 0.14285714285714285, 0.2857142857142857, 0.17630385487528347, 0.20011337868480725]
2024

In [15]:
scores_week2 = scores_1[0:13] 
for i in range(13,len(scores_1)):
    avg = 0
    for j in range(14):
        avg+=scores_1[i-j]
    scores_week2.append(avg/14)
print(scores_week1[0:15])
print(len(scores_week2))
df['week_2'] = scores_week2

[0.16666666666666666, 0.25, 0.2222222222222222, -0.08333333333333333, 0.14285714285714285, 0.2857142857142857, 0.17630385487528347, 0.20011337868480725, 0.14852607709750565, 0.18820861678004536, 0.21439909297052154, 0.2797052154195011, 0.3103174603174604, 0.2746031746031746, 0.226984126984127]
2024

In [17]:
df.head(25)

,Unnamed: 0,Date,bert_scores,Open,High,Low,Close,Adj Close,Volume,windowSize_2,windowSize_3,week_1,week_2
0,0,2021-04-16,0.166667,14599.599609,14697.700195,14559.000000,14621.750000,14621.750000,0.0,0.166667,0.166660,0.166667,0.166667
1,1,2021-04-15,0.250000,14522.400391,14597.549805,14353.200195,14581.450195,14581.450195,568000.0,0.208333,0.250000,0.250000,0.250000
2,2,2021-04-13,0.222222,14364.900391,14528.900391,14274.900391,14504.799805,14504.799805,605100.0,0.236111,0.212963,0.222222,0.222222
3,3,2021-04-12,-0.083333,14644.650391,14652.500000,14248.700195,14310.799805,14310.799805,650200.0,0.069444,0.129630,-0.083333,-0.083333
4,4,2021-04-09,0.142857,14882.650391,14918.450195,14785.650391,14834.849609,14834.849609,504100.0,0.029762,0.093915,0.142857,0.142857
5,5,2021-04-08,0.285714,14875.650391,14984.150391,14821.099609,14873.799805,14873.799805,514800.0,0.214286,0.115079,0.285714,0.285714
6,6,2021-04-07,0.250000,14716.450195,14879.799805,14649.849609,14819.049805,14819.049805,0.0,0.267857,0.226190,0.176304,0.250000
7,7,2021-04-06,0.333333,14737.000000,14779.099609,14573.900391,14683.500000,14683.500000,475300.0,0.291667,0.289683,0.200113,0.333333
8,8,2021-04-05,-0.111111,14837.700195,14849.849609,14459.500000,14637.799805,14637.799805,509700.0,0.111111,0.157407,0.148526,-0.111111
9,9,2021-04-01,0.500000,14798.400391,14883.200195,14692.450195,14867.349609,14867.349609,445000.0,0.194444,0.240741,0.188209,0.500000
10,10,2021-03-31,0.100000,14811.849609,14813.750000,14670.250000,14690.700195,14690.700195,463900.0,0.300000,0.162963,0.214399,0.100000
11,11,2021-03-30,0.600000,14628.500000,14876.299805,14617.599609,14845.099609,14845.099609,594500.0,0.350000,0.400000,0.279705,0.600000
12,12,2021-03-26,0.500000,14506.299805,14572.900391,14414.250000,14507.299805,14507.299805,481000.0,0.550000,0.400000,0.310317,0.500000
13,13,2021-03-25,0.000000,14570.900391,14575.599609,14264.400391,14324.900391,14324.900391,606800.0,0.250000,0.366667,0.274603,0.225454
14,14,2021-03-24,0.000000,14712.450195,14752.349609,14535.000000,14549.400391,14549.400391,456400.0,0.000000,0.166667,0.226984,0.213549
15,15,2021-03-23,0.000000,14768.549805,14878.599609,14707.000000,14814.750000,14814.750000,474200.0,0.000000,0.000000,0.242857,0.195692
16,16,2021-03-22,0.200000,14736.299805,14763.900391,14597.849609,14736.400391,14736.400391,459000.0,0.100000,0.066667,0.200000,0.194104
17,17,2021-03-19,0.375000,14471.150391,14788.250000,14350.099609,14744.000000,14744.000000,919200.0,0.287500,0.191667,0.239286,0.226842
18,18,2021-03-18,-0.222222,14855.500000,14875.200195,14478.599609,14557.849609,14557.849609,542200.0,0.076389,0.117593,0.121825,0.200765
19,19,2021-03-17,-0.285714,14946.549805,14956.549805,14696.049805,14721.299805,14721.299805,100.0,-0.253968,-0.044312,0.009580,0.159949
20,20,2021-03-16,-0.333333,14996.099609,15051.599609,14890.650391,14910.450195,14910.450195,100.0,-0.309524,-0.280423,-0.038039,0.118282
21,21,2021-03-15,0.400000,15048.400391,15048.400391,14745.849609,14929.500000,14929.500000,467500.0,0.033333,-0.073016,0.019104,0.123044
22,22,2021-03-12,-0.142857,15321.150391,15336.299805,14953.599609,15030.950195,15030.950195,493200.0,0.128571,-0.025397,-0.001304,0.120777
23,23,2021-03-10,0.250000,15202.150391,15218.450195,15100.849609,15174.799805,15174.799805,404600.0,0.053571,0.169048,0.005839,0.102920
24,24,2021-03-09,0.142857,15049.900391,15126.849609,14925.450195,15098.400391,15098.400391,675300.0,0.196429,0.083333,-0.027324,0.105981

In [18]:
df.to_csv('bert_9year_1-2week_windowsize.csv')