In [161]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error, mean_absolute_error , mean_absolute_percentage_error
from sklearn.preprocessing import StandardScaler

In [191]:
df_with_sentiment = pd.read_csv('with_sentiment.csv')
df_without_sentiment = pd.read_csv('without_sentiment.csv')
df_real = pd.read_csv('orgi.csv') 
df_arima = pd.read_csv('arima.csv')
df_GRU_nosent = pd.read_csv('without_sentiment.csv')
df_GRU_sent = pd.read_csv('LSTM_7.csv')

In [192]:
#print(df_with_sentiment.head())
#print(len(df_with_sentiment))
#print(len(df_without_sentiment))
#print(df_without_sentiment.head())
print(df_real.head())
print(df_GRU_sent.head())
print(df_GRU_nosent.head())

         Date          Open          High           Low         Close  \
0  2021-01-29  13946.599609  13966.849609  13596.750000  13634.599609
1  2021-02-01  13758.599609  14336.349609  13661.750000  14281.200195
2  2021-02-02  14481.099609  14731.700195  14469.150391  14647.849609
3  2021-02-03  14754.900391  14868.849609  14574.150391  14789.950195
4  2021-02-04  14789.049805  14913.700195  14714.750000  14895.650391

      Adj Close  Volume
0  13634.599609  753200
1  14281.200195  870500
2  14647.849609  915000
3  14789.950195  869500
4  14895.650391  884700
   Unnamed: 0        Date       Open
0           0  2021-01-29  14367.145
1           1  2021-01-30  14461.040
2           2  2021-01-31  14535.489
3           3  2021-02-01  14607.887
4           4  2021-02-02  14668.742
   Unnamed: 0        Date       Open
0           0  2021-01-29  14470.136
1           1  2021-01-30  14548.921
2           2  2021-01-31  14640.489
3           3  2021-02-01  14730.456
4           4  2021-02-02  14805.190

In [193]:
#df_with_sentiment.columns = ['Unnamed: 0', 'Date', 'Open_with_sent']
#df_without_sentiment.columns = ['Unnamed: 0', 'Date', 'Open_wihout_sent']
df_GRU_nosent.columns = ['Unnamed: 0', 'Date', 'Open_GRU_nosent']
df_GRU_sent.columns = ['Unnamed: 0', 'Date', 'Open_GRU_sent']

In [194]:
#InnerJoing

#result_1 = pd.merge(df_with_sentiment, df_without_sentiment, how="inner", on=["Date"])
result_GRU  = pd.merge(df_GRU_sent, df_GRU_nosent, how="inner", on=["Date"])

In [195]:
#final_df = pd.merge(df_real, result_1, how="inner", on=["Date"])
final_df = pd.merge(df_real, result_GRU, how="inner", on=["Date"])
#final_df = pd.merge(df_real, df_GRU_sent, how="inner", on=["Date"])
print(len(final_df))
final_df.head(6)

21

,Date,Open,High,Low,Close,Adj Close,Volume,Unnamed: 0_x,Open_GRU_sent,Unnamed: 0_y,Open_GRU_nosent
0,2021-01-29,13946.599609,13966.849609,13596.750000,13634.599609,13634.599609,753200,0,14367.145,0,14470.136
1,2021-02-01,13758.599609,14336.349609,13661.750000,14281.200195,14281.200195,870500,3,14607.887,3,14730.456
2,2021-02-02,14481.099609,14731.700195,14469.150391,14647.849609,14647.849609,915000,4,14668.742,4,14805.190
3,2021-02-03,14754.900391,14868.849609,14574.150391,14789.950195,14789.950195,869500,5,14637.672,5,14795.561
4,2021-02-04,14789.049805,14913.700195,14714.750000,14895.650391,14895.650391,884700,6,14622.640,6,14799.605
5,2021-02-05,14952.599609,15014.650391,14864.750000,14924.250000,14924.250000,935600,7,14653.125,7,14844.167

In [196]:
#real_data = final_df['Open']
real_data = final_df[['Open']].astype(float)
#sent_data = final_df['Open_with_sent']
#withoutsent_data = final_df['Open_wihout_sent']
#arima_data       = final_df['Open_arima']
GRU_nosent_data       = final_df[['Open_GRU_nosent']].astype(float)
GRU_sent_data       = final_df[['Open_GRU_sent']].astype(float)

In [189]:
real_data

            Open
0   13946.599609
1   13758.599609
2   14481.099609
3   14754.900391
4   14789.049805
5   14952.599609
6   15064.299805
7   15164.150391
8   15119.049805
9   15073.250000
10  15186.200195
11  15270.299805
12  15371.450195
13  15279.900391
14  15238.700195
15  15074.799805
16  14999.049805
17  14782.250000
18  14729.150391
19  15079.849609
20  14888.599609

In [8]:
#LSTM

#rmse
print('MSE')
print('Sentiment:  ',mean_squared_error(real_data, sent_data))
print('No Sentiment:  ',mean_squared_error(real_data, withoutsent_data))
#mae
print('')
print('MAE')
print('Sentiment:  ',mean_absolute_error(real_data, sent_data))
print('No Sentiment:  ',mean_absolute_error(real_data, withoutsent_data))

#MAPE
print('')
print('MAPE')
print('Sentiment:  ',mean_absolute_percentage_error(real_data, sent_data))
print('No Sentiment:  ',mean_absolute_percentage_error(real_data, withoutsent_data))

MSE
Sentiment:   473333.5418729142
No Sentiment:   864577.3038522463

MAE
Sentiment:   583.5811730000003
No Sentiment:   689.5893031904761

MAPE
Sentiment:   0.038892862778149906
No Sentiment:   0.04643926711431763

In [ ]:
scaler = StandardScaler()
scaler = scaler.fit(df_for_training)
df_for_training_scaled = scaler.transform(df_for_training)

In [19]:
#ARIMA
#rmse
print('MSE')
print('  ',mean_squared_error(real_data, arima_data))

#mae
print('')
print('MAE')
print('  ',mean_absolute_error(real_data, arima_data))

#MAPE
print('')
print('MAPE')
print('  ',mean_absolute_percentage_error(real_data, arima_data))

MSE
   2238320.1017061346

MAE
   1444.2212430000004

MAPE
   0.09622921569431611

In [197]:
#GRU
#rmse
print('MSE')
print('Sentiment:  ',mean_squared_error(real_data, GRU_sent_data))
print('No Sentiment:  ',mean_squared_error(real_data, GRU_nosent_data))
#mae
print('')
print('MAE')
print('Sentiment:  ',mean_absolute_error(real_data, GRU_sent_data))
print('No Sentiment:  ',mean_absolute_error(real_data, GRU_nosent_data))

#MAPE
print('')
print('MAPE')
print('Sentiment:  ',mean_absolute_percentage_error(real_data, GRU_sent_data))
print('No Sentiment:  ',mean_absolute_percentage_error(real_data, GRU_nosent_data))

MSE
Sentiment:   647977.2137757116
No Sentiment:   864577.3038522463

MAE
Sentiment:   630.7099513809524
No Sentiment:   689.5893031904761

MAPE
Sentiment:   0.042435809556255706
No Sentiment:   0.04643926711431763

In [123]:
GRU_sent_data

array([[-1.47868069],
       [-1.01635755],
       [-0.96752327],
       [-1.32290406],
       [-1.47624472],
       [-1.40115871],
       [-0.78392758],
       [-0.61808236],
       [-0.36781988],
       [-0.20133225],
       [ 0.00559154],
       [ 0.52385055],
       [ 0.72980371],
       [ 1.01277242],
       [ 1.12021064],
       [ 1.19996931],
       [ 0.98442702],
       [ 1.19349371],
       [ 1.16765696],
       [ 1.01582969],
       [ 0.6804255 ]])

In [124]:
real_data

array([[-2.37688701],
       [-2.84316428],
       [-1.05122103],
       [-0.37214081],
       [-0.28744349],
       [ 0.11819245],
       [ 0.39523108],
       [ 0.64288033],
       [ 0.53102194],
       [ 0.41742934],
       [ 0.69756822],
       [ 0.90615193],
       [ 1.15702495],
       [ 0.92996328],
       [ 0.82777863],
       [ 0.42127316],
       [ 0.23339815],
       [-0.30430836],
       [-0.43600591],
       [ 0.43379768],
       [-0.04054024]])