In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('bert_scores.csv')
print(len(df))
df.head

FileNotFoundError: [Errno 2] No such file or directory: 'bert_scores.csv'

In [13]:
#original scores
scores_1 = []
#print(scores_1)
for i in df['scores']:
    scores_1.append(i)
print(scores_1[0:5])
print(len(scores_1))

[0.438, 0.1822, -0.009333333333333341, 0.062185714285714275, 0.2772142857142857]
2024

In [14]:
scores_2 = [0.438]
for i in range(1,len(scores_1)):
    scores_2.append((scores_1[i]+scores_1[i-1])/2)
print(scores_2[0:5])
print(len(scores_2))

[0.438, 0.3101, 0.08643333333333333, 0.026426190476190468, 0.1697]
2024

In [15]:
#adding column
df['windowSize_2'] = scores_2
df.head

<bound method NDFrame.head of             Date          Open          High           Low         Close  \
0     2012-08-07   5295.399902   5350.100098   5281.649902   5336.700195
1     2012-08-08   5345.250000   5377.600098   5331.049805   5338.000000
2     2012-08-09   5348.299805   5368.200195   5312.100098   5322.950195
3     2012-08-10   5308.200195   5330.100098   5294.100098   5320.399902
4     2012-08-13   5316.350098   5352.450195   5309.049805   5347.899902
...          ...           ...           ...           ...           ...
2019  2021-04-09  14882.650391  14918.450195  14785.650391  14834.849609
2020  2021-04-12  14644.650391  14652.500000  14248.700195  14310.799805
2021  2021-04-13  14364.900391  14528.900391  14274.900391  14504.799805
2022  2021-04-15  14522.400391  14597.549805  14353.200195  14581.450195
2023  2021-04-16  14599.599609  14697.700195  14559.000000  14621.750000

         Adj Close    Volume    scores  windowSize_2
0      5336.700195       0.0  0.438000      0.438000
1      5338.000000       0.0  0.182200      0.310100
2      5322.950195       0.0 -0.009333      0.086433
3      5320.399902       0.0  0.062186      0.026426
4      5347.899902       0.0  0.277214      0.169700
...            ...       ...       ...           ...
2019  14834.849609  504100.0  0.280429      0.272171
2020  14310.799805  650200.0  0.134625      0.207527
2021  14504.799805  605100.0  0.248233      0.191429
2022  14581.450195  568000.0  0.170275      0.209254
2023  14621.750000       0.0  0.210400      0.190337

[2024 rows x 9 columns]>

In [17]:
scores_3 = [0.438,0.182200]
for i in range(2,len(scores_1)):
    scores_3.append((scores_1[i]+scores_1[i-1]+scores_1[i-2])/3)
print(scores_3[0:5])
print(len(scores_3))

[0.438, 0.1822, 0.20362222222222223, 0.07835079365079364, 0.1100222222222222]
2024

In [22]:
#adding window of 3 days prior
#df['windowSize_3'] = scores_3
df.head(8)

,Date,Open,High,Low,Close,Adj Close,Volume,scores,windowSize_2,windowSize_3
0,2012-08-07,5295.399902,5350.100098,5281.649902,5336.700195,5336.700195,0.0,0.438000,0.438000,0.438000
1,2012-08-08,5345.250000,5377.600098,5331.049805,5338.000000,5338.000000,0.0,0.182200,0.310100,0.182200
2,2012-08-09,5348.299805,5368.200195,5312.100098,5322.950195,5322.950195,0.0,-0.009333,0.086433,0.203622
3,2012-08-10,5308.200195,5330.100098,5294.100098,5320.399902,5320.399902,0.0,0.062186,0.026426,0.078351
4,2012-08-13,5316.350098,5352.450195,5309.049805,5347.899902,5347.899902,0.0,0.277214,0.169700,0.110022
5,2012-08-14,5343.250000,5387.049805,5328.799805,5380.350098,5380.350098,0.0,0.331838,0.304526,0.223746
6,2012-08-16,5385.950195,5390.649902,5356.649902,5362.950195,5362.950195,0.0,0.390571,0.361204,0.333208
7,2012-08-17,5368.600098,5399.950195,5341.700195,5366.299805,5366.299805,0.0,0.322200,0.356386,0.348203

In [19]:
df.to_csv('9year_2-3_windowsize.csv')

In [24]:
scores_week1 = scores_1[0:6] 
for i in range(6,len(scores_1)):
    avg = 0
    for j in range(7):
        avg+=scores_1[i-j]
    scores_week1.append(avg/7)
print(scores_week1[0:8])
print(len(scores_week1))
df['week_1'] = scores_week1

[0.438, 0.1822, -0.009333333333333341, 0.062185714285714275, 0.2772142857142857, 0.3318375, 0.23895365646258498, 0.22241079931972788]
2024

In [26]:
scores_week2 = scores_1[0:13] 
for i in range(13,len(scores_1)):
    avg = 0
    for j in range(14):
        avg+=scores_1[i-j]
    scores_week2.append(avg/14)
print(scores_week1[0:15])
print(len(scores_week2))
df['week_2'] = scores_week2

[0.438, 0.1822, -0.009333333333333341, 0.062185714285714275, 0.2772142857142857, 0.3318375, 0.23895365646258498, 0.22241079931972788, 0.2487018707482993, 0.2780509183673469, 0.3073429591836735, 0.2915422170686456, 0.25687582096474953, 0.22659775974025975, 0.20811061688311688]
2024

In [28]:
df.head(15)

,Date,Open,High,Low,Close,Adj Close,Volume,scores,windowSize_2,windowSize_3,week_1,week_2
0,2012-08-07,5295.399902,5350.100098,5281.649902,5336.700195,5336.700195,0.0,0.438000,0.438000,0.438000,0.438000,0.438000
1,2012-08-08,5345.250000,5377.600098,5331.049805,5338.000000,5338.000000,0.0,0.182200,0.310100,0.182200,0.182200,0.182200
2,2012-08-09,5348.299805,5368.200195,5312.100098,5322.950195,5322.950195,0.0,-0.009333,0.086433,0.203622,-0.009333,-0.009333
3,2012-08-10,5308.200195,5330.100098,5294.100098,5320.399902,5320.399902,0.0,0.062186,0.026426,0.078351,0.062186,0.062186
4,2012-08-13,5316.350098,5352.450195,5309.049805,5347.899902,5347.899902,0.0,0.277214,0.169700,0.110022,0.277214,0.277214
5,2012-08-14,5343.250000,5387.049805,5328.799805,5380.350098,5380.350098,0.0,0.331838,0.304526,0.223746,0.331838,0.331838
6,2012-08-16,5385.950195,5390.649902,5356.649902,5362.950195,5362.950195,0.0,0.390571,0.361204,0.333208,0.238954,0.390571
7,2012-08-17,5368.600098,5399.950195,5341.700195,5366.299805,5366.299805,0.0,0.322200,0.356386,0.348203,0.222411,0.322200
8,2012-08-21,5368.700195,5425.149902,5368.700195,5421.000000,5421.000000,0.0,0.366237,0.344219,0.359670,0.248702,0.366237
9,2012-08-22,5395.750000,5433.350098,5394.799805,5412.850098,5412.850098,0.0,0.196110,0.281174,0.294849,0.278051,0.196110
10,2012-08-23,5426.149902,5448.600098,5393.850098,5415.350098,5415.350098,0.0,0.267230,0.231670,0.276526,0.307343,0.267230
11,2012-08-24,5392.600098,5399.649902,5371.000000,5386.700195,5386.700195,0.0,0.166609,0.216920,0.209983,0.291542,0.166609
12,2012-08-27,5387.850098,5399.149902,5346.649902,5350.250000,5350.250000,0.0,0.089173,0.127891,0.174337,0.256876,0.089173
13,2012-08-28,NaN,NaN,NaN,NaN,NaN,NaN,0.178625,0.133899,0.144802,0.226598,0.232776
14,2012-08-29,5343.850098,5345.500000,5282.700195,5287.799805,5287.799805,0.0,0.192790,0.185707,0.153529,0.208111,0.215261

In [29]:
df.to_csv('9year_1-2week_windowsize.csv')